*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --red: rgb(171, 8, 8);
  --color-screen: #c5c1c0;
  --color-steel: #0a1612;
  --color-denim: #1a2930;
  --color-gold: #f7ce3e;
}
